{% if not cookieBarHide %}
  <div id="cookieBar" class="container border-radius(5px)">
    {{ 'msg.CookiesWarning'|trans|raw }}
    <a href="#" id="cookieBarAgree">{{ 'lbl.IAgree'|trans|ucfirst }}</a>
    <a href="#" id="cookieBarDisagree">{{ 'lbl.IDisagree'|trans|ucfirst }}</a>
  </div>
{% endif %}
